@page "/all-trips"
@inject ITripGateway gateway
<h3>Tiplist</h3>
<div class="container mt-3 vh-75">
    <div class="card shadow-lg">
        <div class="card-header bg-special text-center text-white">
            <h4 class="mb-0">Your History</h4>
        </div>
        <div class="card-body">
            @if ( trips == null )
            {
                <div class="text-center">
                    <div class="spinner-border text-success" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else if ( trips.Any() )
            {
                <table class="table table-striped table-hover">
                    <thead class="table-sm">
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Time</th>
                            <th>Driver Name</th>
                            <th> Client Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach ( var trip in trips )
                        {
                            <tr>
                                <td>@trip.StartingPoint</td>
                                <td>@trip.Destination</td>
                                <td>@trip.Timing</td>
                                <td>@trip.Driver</td>
                                <td>@trip.Client</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning text-center" role="alert">
                    No trips available.
                </div>
            }
        </div>
    </div>
</div>

@code {
    private List<Trip>? trips;

    // protected override async Task OnInitializedAsync()
    // {
    //     //trips = await LoadTripsAsync();
    // }
    // private async Task<List<Trip>> LoadTripsAsync()
    // {
    //     var list = await gateway.GetAllTripsAsync();
    //     return list;       
    // }

}
